.app {
  background: linear-gradient(to top left, #ff76ba, #a28bff);
  width: 500px;
  height: fit-content;
  border-radius: 8px;
  border: 6px solid whitesmoke;
  padding: 16px;
}
.content {
  font-size: 48px;
  text-align: center;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.btn {
  padding: 8px 16px;
  border: none;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 4px;
  text-transform: uppercase;
}
.note {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-style: italic;
}
